<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SafeRadiusDC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="main-container">


    <h1 style="text-shadow: 2px 2px black; padding: 10px;">Inspied By</h1>

    <p style="text-shadow: 2px 2px black;padding: 10px;">First, I would like to give a shoutout to my teammates at AIHack, as this project is an enhanced version of a part of the 
        project we built for the 1st-place winning entry at the AIxplain Hackathon: Sayantan Datta, Suhas K M, and Rajinder.</p>
        
   <a style="margin: 10px;" href="https://crimecards.dc.gov/"> Crime Cards</a>
   <a style="margin: 10px;;"href="https://www.crimedatadc.com">crimedatadc</a>
   <a style="margin: 10px;;"href="/">Back</a>

    </div>


</body>
</html>